.red {
  color: red;
}

.underline {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.center-text {
  text-align: center;
}

img.small {
  width: 50px;
  height: 55px;
}

img.medium {
  width: 300px;
  height: 164px;
}

img.align-left {
  float: left;
  margin-right: 10px;
}

img.align-right {
  float: right;
  margin-left: 40px;
}

img.align-right-bottom {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.center-image {
  display: block;
  margin: 0 auto;
}

.padding-10 {
  padding: 10px;
}

.padding-11 {
  padding: 11px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-20 {
  padding-top: 20px;
}

.border-1px-gray {
  border: 1px solid gray;
}

.margin-15 {
  margin: 15px;
}

.margin-left-14-percent {
  margin-left: 14%;
}

.margin-top-20 {
  margin-top: 20px;
}
